@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body background="~/Content/Images/album.jpeg">

    <p>
        Welcome! Thank you for coming to our Website! I am happy to meet you. We have a lot of music file.
        So, you can search what you want to litsen. Enjoy!
    </p>

</body>