@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body background="~/Content/Images/art-background-blue-1037992.jpg">
</body>
<address>
    Music Store company<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="i89397047@gamil.com">i89397047@gamil.com</a><br />
    <strong>Marketing:</strong> <a href="2003@georgianc.on.ca">2003@georgianc.on.ca</a>
</address>